* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../assets/fonts/Pixel.ttf');
}

[flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 500px;
    width: 100vw;
    max-width: 990px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

@media (max-width: 990px) {
    [flappy] {
        height: 100vh !important;
        width: 100vw;
        touch-action: manipulation;
    }
}

.bird {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.barrier-pair {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barrier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barrier .border {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid #000 !important;
}

.barrier .body {
    width: 110px;
    height: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.points {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel !important;
    font-size: 70px !important;
    z-index: 1;
}